body {
	background: #232323;
	font-size: 16px;
}

h1 {
	color: white;
	text-align: center;
}

.square {
	background: purple;
	width: 30%;
	margin: 1.66%;
	padding-bottom: 30%;
	float: left;
}

#container {
	margin: 0 auto;
	max-width: 600px;
}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background: blue;
}